<div class="form-signin">
  <h1>Inscription</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  label: "Votre pseudo",
                  required: true %>
      <%= f.input :first_name,
                  label: "Votre prénom",
                  required: true %>
      <%= f.input :email,
                  label: "Votre e-mail",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: "Votre mot de passe",
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: "Confirmation du mot de passe",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :avatar, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class:"button button-success" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>

</div>

