<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<div class="user-container text-center">
  <h1><%= @user.username %>,</br>tu es une <div class="user-level">planthipster !</div></h1>
</div>
<div class="text-center user-score">
  <p> avec </p>
  <h1 class="score"><%= @user.score %></h1>
  <p><strong>points</strong></p>
</div>






<div class="mt-4 mb-4">
  <% @category_count.each do |category, count| %>
    <div class="card-challenge d-flex justify-content-around align-items-center user-card flex-wrap">
      <div class="label-badge">
        <h2 class="<%= label_category(category) %>"><%= category %></h2>
      </div>

      <div class="progress-bar-component">
        <% if count <= @level_gap %>
           <div class="badges" data-level="1">
            <div class="progression-bar">
              <progress value="<%=count - @level_gap * 0%>" max="5">
            </div>
            <div class="badges-icon next-level d-flex justify-content-center align-items-center">
              <%= image_tag "seed.png", class:"oneLeaf" %>
            </div>
            <p class="progression-bar-level-first"> l </p>
            <p class="progression-bar-level-second"> l </p>
            <p class="progression-bar-level-third"> l </p>
            <p class="progression-bar-level-fourth"> l </p>
          </div>
        <% elsif count > @level_gap * 1 %>
           <div class="badges" data-level="2">
            <div class="progression-bar">
              <progress value="<%= count - @level_gap * 1 %>" max="5">
            </div>
            <div class="badges-icon next-level d-flex justify-content-center align-items-center">
             <%= image_tag "oneLeaf.png", class:"oneLeaf" %>
            </div>
            <p class="progression-bar-level-first"> l </p>
            <p class="progression-bar-level-second"> l </p>
            <p class="progression-bar-level-third"> l </p>
            <p class="progression-bar-level-fourth"> l </p>
          </div>
        <% elsif count > @level_gap * 2 %>
           <div class="badges" data-level="3" >
            <div class="progression-bar">
              <progress value="<%=count - @level_gap * 2 %>" max="5">
            </div>
            <div class="badges-icon next-level d-flex justify-content-center align-items-center">
              <%= image_tag "twoLeafs.png", class:"oneLeaf" %>
            </div>
            <p class="progression-bar-level-first"> l </p>
            <p class="progression-bar-level-second"> l </p>
            <p class="progression-bar-level-third"> l </p>
            <p class="progression-bar-level-fourth"> l </p>
          </div>
        <% else %>
           <div class="badges" data-level="4">
            <div class="progression-bar">
              <progress value="<%=count - @level_gap * 3%>" max="5">
            </div>
            <div class="badges-icon next-level d-flex justify-content-center align-items-center">
              <%= image_tag "threeLeafs.png", class:"oneLeaf" %>
            </div>
            <p class="progression-bar-level-first"> l </p>
            <p class="progression-bar-level-second"> l </p>
            <p class="progression-bar-level-third"> l </p>
            <p class="progression-bar-level-fourth"> l </p>
          </div>
        <% end %>
      </div>

      <a class="index-bagdes-button collapsed pl-1" data-toggle="collapse" href="#badgeCollaspe-<%= category %>" role="button" aria-expanded="false" aria-controls="badgeCollaspe"> <i class="fas fa-angle-down"></i> </a>

      <div class="collapse w-100" id="badgeCollaspe-<%= category %>">
        <div class="badges-title">Mes badges </div>
        <ul class="index-bagdes-component" data-challenges=" <% count %> ">
          <li class="badges-icon index-style d-flex justify-content-center align-items-center", id="badges_one">
            <%= image_tag "seed.png", class:"oneLeaf" %>
          </li>
          <li class="badges-icon index-style d-flex justify-content-center align-items-center" id="badges_two">
            <%= image_tag "oneLeaf.png", class:"oneLeaf" %>
          </li>
          <li class="badges-icon index-style d-flex justify-content-center align-items-center" id="badges_three">
            <%= image_tag "twoLeafs.png", class:"oneLeaf" %>
          </li>
          <li class="badges-icon index-style d-flex justify-content-center align-items-center" id="badges_four">
            <%= image_tag "threeLeafs.png", class:"oneLeaf" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>





