<div class="row align-items-center">
  <div class="card-clan row <%= 'current-user' if local_assigns[:current_user_style] %>">

    <div class= "col-2">
      <%= cl_image_tag("SeedOfChange%20-%20Avatar/#{member.first_name}.png", class: "avatar", alt: "avatar") %>
    </div>

    <div class="info-member col-8">
      <% if index == 0 %>
        <h2><%= member.username %> <i class="fas fa-crown crown gold"></i></h2>
      <% elsif index == 1 %>
        <h2><%= member.username %> <i class="fas fa-crown crown silver"></i></h2>
      <% elsif index == 2 %>
        <h2><%= member.username %> <i class="fas fa-crown crown bronze"></i></h2>
      <% else %>
        <h2><%= member.username %></h2>
      <% end %>
      <subtitle><strong><%= member.score %></strong> points</subtitle>
    </div>

    <div class="col-2">
      <p><%= index + 1 %> </p>
    </div>

  </div>
</div>
