<div class="navbar navbar-seed">
  <div class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'home' %> navbar-element">
    <%= link_to_unless_current '<i class="fa fa-home"></i><subtitle> Accueil </subtitle>'.html_safe, (root_path), class: "navbar-element" %>
  </div>

  <div class="<%= 'active' if controller.controller_name == 'user_challenges' || controller.controller_name == 'challenges' %> navbar-element">
    <%= link_to_unless_current '<i class="fas fa-seedling"></i> <subtitle>Défis</subtitle>'.html_safe, user_challenges_path, class: "navbar-element" %>
  </div>

  <% if current_user %>
    <% if current_user&.clan %>
      <div id="navbar-clan" class="<%= 'active' if controller.controller_name == 'clans' || controller.controller_name == 'activities' %> navbar-element">
        <%= link_to_unless_current '<i class="fas fa-seedling"></i> <subtitle>Clan</subtitle>'.html_safe, clan_activities_path(current_user.clan), class: "navbar-element", 'data-turbolinks': false %>
        <div id="notif" data-clan-id="<%= current_user.clan.id %>" data-current-user="<%= current_user.id %>">
          <% if current_user.activities.where(read: false).empty? %>
            <%= render 'shared/notifications', status: false, user: nil %>
          <% else %>
            <i class="fa-circle fas"></i>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="<%= 'active' if controller.controller_name == 'users' && controller.action_name == 'show' %> navbar-element">
      <%= link_to_unless_current '<i class="fas fa-user"></i> <subtitle>Profil</subtitle>'.html_safe, user_path(current_user), class: "navbar-element" %>
    </div>
  <% end %>
</div>


