<div class="navbar navbar-seed">
  <div class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'home' %>">
    <%= link_to root_path, class:"navbar-element" do %>
      <i class="fa fa-home"></i>
      <subtitle> Accueil </subtitle>
    <% end %>
  </div>

  <div class="<%= 'active' if controller.controller_name == 'user_challenges' && controller.action_name == 'index' %>">
    <%= link_to user_challenges_path, class:"navbar-element" do %>
      <i class="fas fa-seedling"></i>
      <subtitle>Défis</subtitle>
    <% end %>
  </div>

  <% if current_user %>
    <% if current_user.clan.present? %>
      <div class="<%= 'active' if controller.controller_name == 'clans' && controller.action_name == 'show' %>">
        <%= link_to clan_path(current_user.clan), class:"navbar-element" do %>
          <i class="fas fa-seedling"></i>
          <subtitle>Clan</subtitle>
        <% end %>
      </div>
    <% end %>

    <div class="<%= 'active' if controller.controller_name == 'users' && controller.action_name == 'show' %>">
      <%= link_to user_path(current_user), class:"navbar-element" do %>
        <i class="fas fa-user"></i>
        <subtitle>Profil</subtitle>
      <% end %>
    </div>
  <% end %>
</div>
