
<div class="user-container mt-5 text-center p-3">

<%= render "shared/navbarsecondaryclan" %>
<br>

  <h1><%= @clan.name %></h1>
</div>

<div class="user-container mb-4 text-center text-white">
  <h2><%= @members_by_position.count %> membres </h2>
</div>

<div class="clan-points">
<%= @clan.score %>
<p>points</p>
</div>

<div class="members-list">
  <ul>
    <% @members_by_position.each_with_index do |member, index| %>
      <li>
        <% if member.username == current_user.username %>
          <div class=" row card-clan current-user">
            <%= image_tag "https://res.cloudinary.com/dwbej2js2/image/upload/v1613148306/SeedOfChange%20-%20Avatar/#{member.first_name}.png", class: "avatar", alt: "avatar" %>
              <div class="info-member col-8">
                  <h2 ><%= member.username %> </h2>
                  <subtitle><%= member.score %> points</subtitle>
              </div>
              <div>
             <p>#<%= index + 1 %> </p>
             </div>
          </div>
        <% else %>
          <div class="row card-clan">
          <%= image_tag "https://res.cloudinary.com/dwbej2js2/image/upload/v1613148306/SeedOfChange%20-%20Avatar/#{member.first_name}.png", class: "avatar", alt: "avatar" %>
            <div class="info-member col-8">
                <h2><%= member.username %> </h2>
                <subtitle><%= member.score %> points</subtitle>
            </div>
            <div>
           <p>#<%= index + 1 %> </p>
           </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

<!-- Button trigger modal -->
<div class="text-center">
  <button type="button" class="button-clan text-center text-white" data-toggle="modal" data-target="#exampleModalCenter">
    J'agrandis mon clan
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Quelle formidable personne souhaites-tu ajouter à ton clan ?</p>
        <br>
        <%= form_tag  add_user_clan_path @clan, method: :post do %>
          <%= text_field_tag :username,
            params[:username],
            class: "form-control",
            placeholder: "Saisis le username"
          %>
          <br> <br>
          <%= submit_tag "Je l'ajoute", class: "button-modal-clan text-center text-white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>

