

<div class="user-container mt-5 text-center p-3">
  <h1><%= @clan.name %></h1>
</div>

<div class="user-container mb-4 text-center text-white">
  <h2><%= @members_by_position.count %> membres </h2>
</div>

<div class="clan-points">
<%= @clan.score %>
<p>points</p>
</div>

<div class="members-list">
  <ul>
    <% @members_by_position.each_with_index do |member, index| %>
      <li>
        <% if member.username == current_user.username %>
          <div class=" row card-clan">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
              <div class="info-member col-8">
                  <h2 class="text-gold"><%= member.username %> </h2>
                  <subtitle class="text-gold" ><%= member.score %> points</subtitle>
              </div>
              <div>
             <p class="text-gold ">#<%= index + 1 %> </p>
             </div>
          </div>
        <% else %>
          <div class="row card-member">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
            <div class="info-member col-8">
                <h2><%= member.username %> </h2>
                <subtitle><%= member.score %> points</subtitle>
            </div>
            <div>
           <p>#<%= index + 1 %> </p>
           </div>
          </div>
        <% end %>

      </li>
    <% end %>
  </ul>
</div>

