<div class="user-container">
  <div class="first-div-hp">
    <i class="fas fa-seedling fa-3x" style="color:white"></i>
    <h1>Welcome back <%= current_user.username.capitalize %> !</h1>
  </div>

  <div class="incentive-fact d-flex align-items-center">
    <i class="fas fa-globe-americas fa-3x" style="color: #7C9A92"></i>
    <p>Depuis la création de Seed of Change, <strong>150 000 litres</strong> d’eau ont été économisés grâce au défi <strong>"Faire pipi sous la douche".</strong></p>
  </div>

  <div class="hp-box-challenge">
  <% if @user_challenges.empty? %>
   <div>
    <p>Tu n'as pas de défis en cours</p>
        <div class="text-center">
          <button type="button" class="button-challenge-home text-center text-white" data-toggle="modal" data-target="#exampleModalCenter">
          <%= link_to "J'ajoute des défis!", user_challenges_path %>
          </button>
        </div>
    <%= image_tag "image-card-challenge-hp.png", width: 150 %>
    </div>

  <% else %>
    <div class="d-flex align-items-center">
      <div>
        <p>Tu as <strong><%= @user_challenges_ongoing %> défis </strong> en cours.</p>
        <div class="text-center">
          <button type="button" class="button-challenge-home text-center text-white" data-toggle="modal" data-target="#exampleModalCenter">
            <%= link_to 'Je continue !', user_challenges_path %>
          </button>
        </div>
      </div>
      <%= image_tag "image-card-challenge-hp.png", width: 150 %>
    </div>
  <% end %>
  </div>


  <% if @invitation %>
    <div class="card-invitation">
        <p>Tu as reçu une invitation pour être membre du clan : <strong><%= @invitation.clan.name %></strong></p>
      <div class="d-flex justify-content-center">
        <%= link_to invitation_path(@invitation, status: "declined"), class: "button-decline", method: :patch do %>
          <i class="fas fa-times-circle"></i>
        <% end %>
        <%= link_to invitation_path(@invitation, status: "accepted"), class: "button-accept", method: :patch do %>
          <i class="fas fa-check"></i>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

