<div class="container">
  <h1><%= @challenge.name %></h1>
  <p><%= @challenge.price %></p>
  <p><%= @challenge.duration %></p>
  <p><%= @challenge.difficulty %></p>
  <p><%= @challenge.description %></p>
</div>
