<div class="container">

  <div class="challenge-show">

    <%= link_to user_challenges_path, class:"button-arrow" do  %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

    <br><br>

    <h1><%= @challenge.name %></h1>
    <br>

    <div class="first-info">
    <p><i class="fas fa-shopping-cart"></i>   <%= @challenge.price %> €</p>
    <p><i class="fas fa-hourglass-start"></i>   <%= @challenge.duration %></p>
    <%= render 'shared/difficulty', level: @challenge.difficulty %>
    </div>

    <br>
    <p><%= @challenge.description %></p>


    <% if @challenge.necessary_items.present? %>
      <h2>Liste de course</h2>
      <% @challenge.necessary_items.each do |item| %>
      <ul>
        <li>
          <%= item %>
        </li>
      </ul>
      <% end %>
    <% end %>

  <% if @challenge.how_to.present? %>
      <h2>Comment faire ?</h2>
      <% @challenge.how_to.each do |step| %>
      <ul>
        <li>
          <%= step %>
        </li>
      </ul>
      <% end %>
    <% end %>


  <% if @challenge.tips.present? %>
      <h2>Petite astuce</h2>
      <%= @challenge.tips %>
    <% end %>

  <% if @challenge.where_to.present? %>
      <h2>Petite astuce</h2>
      <%= @challenge.where_to %>
    <% end %>

  <br>

  <div class="challenge-show-action">
    <%= link_to "J'abandonne", drop_user_challenge_path(@challenge), method: :patch, class:"button button-fail"  %>
    <%= link_to "Yeah, terminé !", validate_user_challenge_path(@challenge), method: :patch, class:"button button-success"  %>
  </div>

  </div>
</div>
