<div class="user-container mt-5 text-center p-3">
<%= render "shared/navbarsecondaryclan" %>
<br>
<ul>
  <% @validated_challenges.each do |user_challenge| %>
  <% time = Date.today %>
    <li>
      <%= user_challenge.user.username %> a remporté <%= user_challenge.challenge.difficulty * 50 %> points avec <%= user_challenge.challenge.name %> le <%= user_challenge.updated_at.strftime('%d/%m')  %>
    </li>
  <% end %>
</ul>
</div>
