<div class="user-container mt-5 text-center p-3">
  <%= render "shared/navbarsecondaryclan" %>
  <br>
  <h1 class="page-title">Derniers défis du clan</h1>
  <div class="d-flex justify-content-center stars">
  </div>
  <div class="activities" data-user-id="<%= current_user.id %>" data-base-url="<%= root_url %>" data-auth-token="<%= form_authenticity_token %>">
    <% @activities.each do |activity| %>
      <% if !activity.read %>
        <div class="activity-card d-flex align-items-center unread">
          <%= image_tag "https://res.cloudinary.com/dwbej2js2/image/upload/v1613148306/SeedOfChange%20-%20Avatar/#{activity.user_challenge.user.first_name}.png", class: "avatar", alt: "avatar" %>
          <div class="activity-info">
            a fini <strong><%= activity.user_challenge.challenge.name %></strong> le <%= activity.user_challenge.updated_at.strftime('%d/%m')  %>
          </div>
          <div class="points unread">
          <strong>+<%= activity.user_challenge.challenge.difficulty * 50 %></strong>
          </div>
        </div>
      <% else %>
        <div class="activity-card d-flex align-items-center">
          <%= image_tag "https://res.cloudinary.com/dwbej2js2/image/upload/v1613148306/SeedOfChange%20-%20Avatar/#{activity.user_challenge.user.first_name}.png", class: "avatar", alt: "avatar" %>
          <div class="activity-info">
            a fini <strong><%= activity.user_challenge.challenge.name %></strong> le <%= activity.user_challenge.updated_at.strftime('%d/%m')  %>
          </div>
          <div class="points">
          <strong>+<%= activity.user_challenge.challenge.difficulty * 50 %></strong>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

