<!DOCTYPE html>
<html>
  <head>
    <title>Seedofchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
      <%= render 'shared/flashes' %>
      <% if current_user&.clan %>
        <div id="bell" data-clan-id="<%= current_user.clan.id %>">
          <%= render 'shared/notifications', status: false %>
        </div>
      <% end %>
      <div class="custom-container container">
        <%= yield %>
      </div>
      <%= render 'shared/navbar' %>
  </body>
</html>
