<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/meta_tags' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
      <%= render 'shared/flashes' %>
      <% if current_page?(landing_path) %>
          <%= yield %>
        <% else %>
          <div class="custom-container container">
        <%= yield %>
          </div>
        <%= render 'shared/navbar' %>
      <% end %>f
  </body>
</html>
